/* Contenedor principal del componente */
.currencyExchange {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

/* Estilo base para los botones de pares de divisas */
.currencyExchange__buttonPair {
  height: 2.8125rem;
  width: 6.25rem;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  background: #1f2836;
  color: #979ea5;
}

/* Estilo activo para el botón del par de divisas seleccionado */
.currencyExchange__buttonPair_active {
  border-top: 0.1875rem solid #4361ee;
  color: #f8f9fa;
  background: #2e3748;
}


@media screen and (max-width: 480px) {
  .currencyExchange__buttonPair {
    font-size: 0.75rem;
    height: 2.5rem;
    width: 5.2rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .currencyExchange__buttonPair {
    font-size: 0.8125rem;
    height: 2.625rem;
    width: 5.9375rem;
  }
}
