.webSocketComponent {
    border: 1px solid #6c757d;
    width: 100%;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    background: black;
}

.current {
    display: flex;
}
.currency {
    border-left: 4px solid #2a9d8f;
    width: 20%;
    padding: 0 0 0 10px;
}
.currencyTitle {
    color: #6c757d;
    font-size: 13px;
    width: 80px;
    padding: 0 0 2px 0;
    border-bottom: 2px solid #6c757d;
    margin: 0 0 7px 0;
}
.currencyPair {
    font-size: 20px;
    color: #dee2e6;
}
.point {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0 0 0 10px;
}
.datesTitle {
    font-size: 13px;
    color: #6c757d;
    text-align: end;
    padding: 0 20px 0 0;
    margin: 0 0 9px 0;
}
.currencyPoint {
    font-size: 20px;
    color: #2a9d8f;
    padding: 0 20px 0 0;
    text-align: end;
}
.dates {
    border-left: 1px solid #6c757d;
    width: 20%;
}

.datesPrice {
    font-size: 20px;
    padding: 0 20px 0 0;
    color: #dee2e6;
    text-align: end;
}