@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* Contenedor principal */
.dailyTrend {
  width: 100%;
  background: #202737;
  min-height: 100%;
}

/* Título */
.dailyTrend__title {
  font-size: 0.8rem;
  color: #ffffff;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;

}

/* Tabla */
.dailyTrend__table {
  color: white;
  background: #2e3748;
  overflow: hidden;
  
}

/* Títulos de las columnas */
.dailyTrend__tableTitles {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 1.5rem 1rem 0rem 1rem;
  background-color: #2e3748;
  margin-right: 0.3rem; /*Distancia para compensar el ancho del scroll*/
  
}

.dailyTrend__tableTitlesColumnDate {
  text-align: left;
  border-bottom: 1px solid #ffffff;
  
}

.dailyTrend__tableTitlesColumnRight {
  text-align: right;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

/* Filas */
.dailyTrend__tableRows {
  background-color: #000000;
  max-height: 11.5rem;
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 0 0 1rem 0;
  
}

.dailyTrend__tableRow {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

.dailyTrend__tableRow:last-child {
  border-bottom: none;
}

.dailyTrend__tableRowColumnDate {
  text-align: left;
  border-bottom: 1px solid #adb5bd;
  padding-bottom: 10px;
}

.dailyTrend__tableRowColumnRight {
  text-align: right;
  border-bottom: 1px solid #adb5bd;
  padding-bottom: 10px;
}

.dailyTrend__red {
  color: #ad4747;
}

.dailyTrend__green {
  color: #00daa8;
}

@media screen and (max-width: 480px) {
  .dailyTrend__title {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .dailyTrend__tableTitles {
    font-size: 0.7rem;
    padding: .5rem;
  }

  .dailyTrend__tableRow {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    
  }
 
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
  .dailyTrend__title {
    font-size: 1.2rem;
    padding: 0.75rem;
   
  }

  .dailyTrend__tableTitles {
    font-size: 0.9rem;
    padding: 1.25rem 1rem;
  }

  .dailyTrend__tableRow {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }

  .dailyTrend__tableRows {
    max-height: 15rem;
  }
}

.dailyTrend__tableRows::-webkit-scrollbar {
  width: 0.3rem;
}

.dailyTrend__tableRows::-webkit-scrollbar-track {
  background: transparent;
}

.dailyTrend__tableRows::-webkit-scrollbar-thumb {
  background-color: #727478;
  border-radius: 1rem;
  height: 20%;
}

.dailyTrend__tableRows::-webkit-scrollbar-thumb:hover {
  background-color: #616366;
}
