.homeComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.homeComponent__content {
  width: 93%;
  max-width: 1200px;
  height: 100%;
 
}

.currencyExchangeComponent {

}

.webSocketComponent{

}

.Historic_Daily_Components{
  display: flex;
  gap: 1.5rem;
 
}